<div class="sidebar" [class.collapsed]="isCollapsed">
  <div class="header">
    @if (!isCollapsed) {
      <h6>Filter Contracts</h6>
      <span #popupAnchor class="material-symbols-outlined three-dot-icon" [class.active]="isThreeDotClick" style="cursor: pointer;" (click)="toggleThreeDotPopup()">
  more_horiz
</span>

    }
    <button class="toggle-btn" (click)="collapseSidebar()">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>

 <!-- Popup attached to more_horiz -->
<kendo-popup
  *ngIf="isThreeDotClick"
 [collision]="{ horizontal: 'fit', vertical: 'flip' }"
  [popupAlign]="{ horizontal: 'right', vertical: 'bottom' }"
  [anchor]="popupAnchor"
  [popupClass]="popupStyle"
>
  <div class="popup-item" *ngFor="let item of popupItems" (click)="onPopupItemClick(item)">
    <div class="popup-item-main1">
      <span class="material-icons-outlined parentIcon">{{ item.icon }}</span>
      <span class="label">{{ item.label }}</span>
       <!-- Show arrow if submenu exists -->
 <span *ngIf="item.children?.length" class="material-icons expand-arrow">
  chevron_right
</span>

  </div>

  <!-- Submenu -->
  <div class="popup-submenu"
    [ngClass]="popupClass.includes('open-left') ? 'popupSubMenuRight' : 'popupSubMenuLeft'"
    *ngIf="item.children?.length">
    <div class="popup-subitem" *ngFor="let child of item.children" (click)="onItemClick(child)">
      {{ child.label }}
    </div>
    </div>
  </div>

  <!-- Static info section: Uploaded Files -->
  <ng-container *ngIf="uploadedFiles?.length">
    <hr class="popup-separator" />
    <div class="popup-info-header">
      <span class="material-icons-outlined info-icon">info</span>
      <span class="info-text">Last Uploaded Info</span>
    </div>
    <div class="popup-uploaded-info" *ngFor="let file of uploadedFiles">
      <div class="file-name">{{ file.name }}</div>
      <div class="file-date">: {{ file.date }}</div>
    </div>
  </ng-container>
</kendo-popup>

<kendo-dialog *ngIf="isInstructionsDialogVisible" (close)="isInstructionsDialogVisible = false">
  <kendo-dialog-titlebar>
    Instructions to Use
  </kendo-dialog-titlebar>

  <div>
    <p>Here are the steps to use this panel:</p>
    <ol>
      <li>Select filters using the Advanced Search.</li>
      <li>Choose projects from the tree view.</li>
      <li>Use the three-dot menu for Export/Save/Load options.</li>
    </ol>
  </div>

 <kendo-dialog-actions>
    <button style="width: 30px; height: 30px; " kendoButton (click)="isInstructionsDialogVisible = false" themeColor="primary">
      OK
    </button>
  </kendo-dialog-actions>

</kendo-dialog>

<kendo-excelexport
  #excelExport
  [data]="fullJobList"
  [fileName]="'contracts-export.xlsx'"
  [group]="[]"
>
  <kendo-excelexport-column *ngFor="let column of exportColumns"
    [field]="column.field"
    [title]="column.title"
    [width]="200"
  >
  </kendo-excelexport-column>
</kendo-excelexport>




  @if (!isCollapsed) {
    <div class="contract-buttons">
      <button
        class="contract-tab"
        [class.active]="selectedTab === 'my'"
        (click)="setTab('my')"
      >
        My Contracts
      </button>
      <button
        class="contract-tab"
        [class.active]="selectedTab === 'all'"
        (click)="setTab('all')"
      >
        All Contracts
      </button>
      <button
        class="contract-tab"
        [class.active]="selectedTab === 'fav'"
        (click)="setTab('fav')"
      >
        Favourites
      </button>
    </div>

    <!-- <div class="searchjob">
      <input
        type="text"
        [formControl]="searchControl"
        placeholder="Search project or job number"
        class="search-input"
      />
    </div> -->

     <div class="search-box">
       <input
        type="text"
        [formControl]="searchControl"
        placeholder="Search job number or contract name"
        class="search-input"
        [title]="searchControl.value || 'Search job number or contract name'"
      />
        <span class="material-symbols-outlined search-icon">search</span>
      </div>

   <div class="advsearchdiv" *ngIf="authService.isAdmin()">
  <button class="advanceSearch" (click)="toggleAdvancedSearch()">
    <span class="material-symbols-outlined">
      {{ isAdvancedSearchVisible ?  ' keyboard_arrow_down ' : 'chevron_right' }}
    </span>
    Advanced Search
  </button>

  <!-- Multiselect Block (only visible when toggled) -->
  <div class="filterWrapper" *ngIf="isAdvancedSearchVisible">
<!-- Clear Filter link -->
            <div class="clear-filter-text" (click)="clearAllFilters()">
                Clear Filter
            </div>
            <div *ngFor="let item of advanceFilterItems; let i = index" class="filter-row" >
                <label class="filter-label">{{ item.filterName }}</label>
 
                <div class="filter-control">
                    <!-- Display selected items comma-separated -->
                    <div class="selected-values" title="{{ advanceSelectedValues[item.propertyName].join(', ') }}">
                    {{ advanceSelectedValues[item.propertyName].join(', ') || '' }}
                    </div>
                    <span
                      class="material-symbols-outlined icon minus"
                      *ngIf="advanceSelectedValues[item.propertyName]?.length"
                      (click)="removeLastAddedFilter(item.propertyName)"
                    >
                      remove
                    </span>
 
                     <div class="multiselect-wrapper">
                        <!-- Custom Kendo Multiselect (hidden input, used only to select) -->
                        <kendo-multiselect #multiSelect
                        [data]="advanceFilterOptions[item.propertyName]"
                        [(ngModel)]="advanceSelectedValues[item.propertyName]"
                        [valuePrimitive]="true"
                        [autoClose]="false"
                         (valueChange)="applyFilter()"
                        [popupSettings]="{ appendTo: 'component', popupClass: 'custom-multiselect-popup'  }"
                        [tagMapper]="tagMapper"
                        [allowCustom]="false"
                        [checkboxes]="true"
                        class="kendo-hidden"
                        ></kendo-multiselect>                  
                        <span class="material-symbols-outlined icon arrow" >expand_more</span>
                     </div>
                </div>
            </div>

  </div>
</div>


    <div class="nav-items">
      <div class="results-summary">
        Results: {{ filteredProjects.length }} contract{{ filteredProjects.length !== 1 ? 's' : '' }}
      </div>

      <div *ngIf="filteredProjects.length === 0" class="no-data-message">
        No data found!
      </div>

         <!-- <kendo-treeview
    [nodes]="data"
    [kendoTreeViewCheckable]="{ mode: 'multiple', checkChildren: true }"
    textField="text"
    [children]="children"
    [checkedKeys]="checkedkeys"
    (checkedKeysChange)="onCheckedKeysChange($event)"
    kendoTreeViewExpandable
    [hasChildren]="hasChildren"
    [checkBy]="'id'"
    [expandBy]="'id'"
    [loadOnDemand]="false"
>
</kendo-treeview> -->

<div class="select-all-container" *ngIf="filteredProjects.length !== 0">
  <span class="material-symbols-outlined"  (click)="toggleTreeExpand()">
    {{ isTreeExpanded ? 'expand_more' : 'chevron_right' }}
  </span>
  <input
    type="checkbox"
    [checked]="isCurrentProjectsSelected"
    (change)="toggleSelectCurrentProjects($event)"
    id="selectCurrentProjects"
  />
  <label for="selectCurrentProjects">Current Projects</label>
</div>


<div class="treeview-scroll-wrapper" *ngIf="isTreeExpanded" #treeWrapper>
    <kendo-treeview
    *ngIf="isTreeExpanded"
    [nodes]="filteredProjects"
    [kendoTreeViewCheckable]="{ mode: 'multiple', checkChildren: true }"
    textField="text"
    [children]="children"
    [(checkedKeys)]="selectedJobIds"
    (checkedKeysChange)="onCheckedKeysChange($event)"
    kendoTreeViewExpandable
    [hasChildren]="hasChildren"
    [checkBy]="'id'"
    [expandBy]="'id'"
    [loadOnDemand]="false"
>
<ng-template kendoTreeViewNodeTemplate let-dataItem let-hasChildren="hasChildren">
  <div class="tree-node">
    <span class="node-text">{{ dataItem.text }}</span>
    <span
      *ngIf="dataItem.children?.[0]?.children"
      class="material-icons star-icon"
      [ngClass]="{
        'favourite': favourites.has(dataItem.id),
        'not-favourite': !favourites.has(dataItem.id)
      }"
      (click)="toggleFavourite(dataItem)"
      title="Toggle Favourite"
    >
      star
    </span>
  </div>
</ng-template>



</kendo-treeview>
</div>
    </div>
  }
</div>
