  <div class="kendo-expandable-panel">
    <div class="k-panel-header">
      <span class="title">{{ title }}</span>

      <div class="nav-items">

      <span class="clrfilter" (click) = "clearFilters()">
        Clear Filter
      </span>
  
    <span class="material-symbols-outlined three-dot-icon"
    #popupAnchor class="material-symbols-outlined three-dot-icon" 
    [class.active]="isThreeDotClick" style="cursor: pointer;" 
    (click)="toggleThreeDotPopup()">
        more_horiz
        </span>

    <kendo-popup
  *ngIf="isThreeDotClick"
    [collision]="{ horizontal: 'fit', vertical: 'flip' }"
  [popupAlign]="{ horizontal: 'right', vertical: 'top' }"
  [anchorAlign]="{ horizontal: 'left', vertical: 'bottom' }"
  [anchor]="popupAnchor"
  [popupClass]="popupClass"
>
  <!-- Main Menu Items -->
  <div class="popup-item" *ngFor="let item of popupItems" (click)="onPopupItemClick(item)">
    <div class="popup-item-main">
      <span class="material-icons-outlined parentIcon">{{ item.icon }}</span>
      <span class="label">{{ item.label }}</span>

      <!-- Submenu Arrow -->
      <span *ngIf="item.children?.length" class="material-icons expand-arrow">
        chevron_right
      </span>
    </div>

    <!-- Submenu -->
<div class="popup-submenu"
     [ngClass]="popupClass.includes('open-left') ? 'popupSubMenuRight' : 'popupSubMenuLeft'"
     *ngIf="item.label === 'Load Filter' ? loadFilterChildren.length : item.children?.length">

  <div class="popup-subitem"
       *ngFor="let child of (item.label === 'Load Filter' ? loadFilterChildren : item.children)"
       (click)="onItemClick(child)">
    {{ child.label }}
  </div>
</div>

  </div>
</kendo-popup>

<kendo-dialog *ngIf="isSaveFilterDialogVisible" (close)="isSaveFilterDialogVisible = false" title="Save Filter Activities">
 <div class="p-4 horizontal-field">
  <label for="filterName">Enter a filter name:</label>
  <input
    id="filterName"
    [(ngModel)]="newFilterNameInput"
    type="text"
    class="k-textbox"
    placeholder="e.g. My Filter"
  />
</div>

<kendo-dialog-actions>
  <button kendoButton (click)="isSaveFilterDialogVisible = false">Cancel</button>
  <button
    kendoButton
    themeColor="primary"
    class="green-save-btn"
    [disabled]="!newFilterNameInput.trim()"
    (click)="confirmSaveFilter()"
  >
    Save
  </button>
</kendo-dialog-actions>

</kendo-dialog>


<kendo-dialog *ngIf="isInstructionsDialogVisible" (close)="isInstructionsDialogVisible = false">
  <kendo-dialog-titlebar>
    Instructions to Use
  </kendo-dialog-titlebar>

  <div>
    <p>Here are the steps to use this panel:</p>
    <ol>
      <li>Select filters using the Filter Activities.</li>
      <li>Choose View As and Type from the Filter Activities.</li>
      <li>This will filter the tabular and chart data.</li>
    </ol>
  </div>

 <kendo-dialog-actions>
    <button style="width: 30px; height: 30px; border-color: black; border-radius: 0px;" kendoButton (click)="isInstructionsDialogVisible = false" >
      OK
    </button>
  </kendo-dialog-actions>

</kendo-dialog>


      <span class="material-symbols-outlined"  (click)="togglePanel()">
        {{ userExpanded() ?  'keyboard_arrow_down' : 'keyboard_arrow_up' }}
      </span>
    </div>
    </div>
  
    @if (userExpanded()) {
      <div class="k-panel-content">

        <div class="dropdown-wrapper">
  <div *ngFor="let filter of filters" class="dropdown-item">
    <label class="dropdown-label">{{ filter.label }}</label>
    <kendo-dropdownlist
      [data]="filter.data"
      [formControl]="filter.control"
      [textField]="'text'"
      [valueField]="'value'"
      [popupSettings]="{ appendTo: 'root' }"
      (valueChange)="onSelectionChange($event, filter.label)"
 
      >
    </kendo-dropdownlist>
  </div>
</div>
         
        </div>
    }
  </div>
  