.sidebar {
  display: flex;
  flex-direction: column;
  background-color: white;
  transition: width 0.3s ease; 
  overflow: hidden;
}

.sidebar-item {
  margin-bottom: 12px;
  display: contents;
}

.sidebar-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: grey;
  text-decoration: none;
  padding: 8px;
  border-radius: 50%;
  transition: background-color 0.2s ease;

  &:hover .material-symbols-outlined {
    background-color: #C7F7E1;
    border-radius: 50%;
  }
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 16;
  font-size: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  // transition: background-color 0.2s ease;
}

// ✅ First icon: border below the icon
.sidebar-link.first-icon {
  padding: 4px 7px 10px 7px; // (cleaned up)
  cursor: pointer;
  transition: background-color 0.2s ease, padding 0.2s ease;

  .with-border {
    position: relative;
    margin-top: 5px;
    transition: all 0.2s ease;

    &::after {
      content: "";
      position: absolute;
      left: -10px;
      right: -10px;
      bottom: -9.5px;
      height: 0.5px;
      background-color: grey;
    }
  }
}


