.sidebar {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-left: 5px;
}

.sidebar-item {
  margin-bottom: 12px;
  display: contents;
}

.sidebar-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: grey;
  text-decoration: none;
  padding: 8px;
  border-radius: 50%;
  transition: background-color 0.2s ease;

  &:hover .material-symbols-outlined {
    background-color: #C7F7E1;
    border-radius: 50%;
  }
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 16;
  font-size: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  // transition: background-color 0.2s ease;
}

// ✅ First icon: border below the icon
.sidebar-link.first-icon {
  margin-top: -4px;
  padding-bottom: 10px;
  cursor: pointer;

  .with-border {
    position: relative;
    margin-top: 5px;


    &::after {
      content: "";
      position: absolute;
      left: -10px;   // Optional: control line length
      right: -10px;
      bottom: -9.5px;  // ⬅️ Increase this to add more space between icon & line
      height: 1px;
      background-color: grey;
    }
  }
}

