.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

}

.header {
  // height: 60px;
  height: 8vh;
  background-color: #05322B;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-content {
  height: 92vh;
  display: flex;
  flex-grow: 1;
}


.left-sidebars {
  display: flex;
  flex-direction:row;
  margin-left: 0;
}

.iconsidebar
{
  width: 50px;
  background-color:white;
  color: white;
  // padding: 10px 0px 0px 10px;
  border-right: 1px solid grey;
}


.content-area {
  flex-grow: 1;
  background-color: white;
  padding: 20px;
  // border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ecf0f1;
  height: 90vh;
}


// .content-area {
//   flex-grow: 1;
//   padding: 20px;
// }

.filtersidebar {
  background-color: white;
  color: white;
  width: 300px;
  // width: 400px;
  transition: width 0.3s ease;

  &.collapsed {
    width: 0px;
    overflow: hidden;
    transition: width 0.3s ease;
  }
}